[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aspyrobot = {git = "git@github.com:AustralianSynchrotron/aspyrobot.git", editable = true, ref = "master"}
click = "*"
colorlog = "*"
numpy = "*"
pyepics = "*"
pyzmq = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
"flake8" = "*"
pytest = "*"
Sphinx = "*"
pytest-mock = "*"
pytest-forked = "*"
responses = "*"

[requires]
python_version = "3.6"
